@model ERP.ViewModels.LoginViewModel

<div style="margin-right:30%; margin-top:10%;">
<form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">


    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <br />
    <br />

    <div class="form-row">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row text-center">
        <div class="col-md-10">
            <input type="submit" class="btn btn-primary" value="تسجيل الدخول" />
        </div>
    </div>

</form>
</div>