@model ERP.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    decimal totalcridit = 0;
    decimal totaldepit = 0;
    decimal total = totalcridit - totaldepit;

}



    <div class="form-group row">
        <div class="col-md-6">
            <label>Clients</label>
            <select id="ClientsList" name="AccountId" class="selectClient show-tick form-control" onchange="run3()"
                    asp-items="@(new SelectList(Model.Accounts, "AccountId", "AcNameAr" ))">
                <option>اختر الحساب</option>
            </select>

           
        </div>
        <div class="col-md-6">
            <label>الرصيد الكلى</label>
            <input disabled id="tot" type="text" class="form-control" value="" />
        </div>
    </div>
    <div class="form-group row">

        <div class="col-md-6">
            <label>من</label>
            <input id="ffdate"  name="fromdate" type="date" class="form-control"  onchange="run1()" />
        
        </div>
        <div class="col-md-6">
            <label>إلى</label>
            <input id="ttdate" name="todate" type="date" class="form-control" onchange="run2()"/>
           
        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary"><a href="javascript:void(0);" class="anchorDetail">عرض التفاصيل</a></button>
          
        </div>
        <div class="col-md-6">

        </div>
    </div>




<div class="col-md-12">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th class="th-sm">
                   التاريخ

                </th>
                <th class="th-sm">
                   الرصيد

                </th>

                <th class="th-sm">
                  مدين

                </th>
                <th class="th-sm">
                    دائن

                </th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
        <tfoot>
            <tr>
                <th class="th-sm">


                </th>
                <th class="th-sm">


                </th>
               
                    <th class="th-sm">
                        @totaldepit

                    </th>
                    <th class="th-sm">

                      
                    </th>
                
                </tr>
        </tfoot>
    </table>
</div>


@section Scripts
{

     

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" />
    <script>
        $(document).ready(function () {
            $("#ClientsList").select2();
            });
    </script>

    <script>
          $(".anchorDetail").click(function () {
            var _AccountId = document.getElementById("ClientsList").value;
            var _fromdate = document.getElementById("ffdate").value;
            var _todate = document.getElementById("ttdate").value;
            $('#dtBasicExample').DataTable({
                "ajax": {
                    'type': 'POST',
                    'data': { AccountId: _AccountId, fromdate: _fromdate, todate: _todate },
                    'dataType': "json",
                    "url": "@Url.Action("Index")",
                    "dataSrc": function (result) {
                        return result;
                    }
                },
                "columns": [
                    { "data": "DueDate" },
                    { "data": "Notes" },
                    { "data": "Debit" },
                    { "data": "Credit" }


                ],
                "footerCallback": function (tfoot, data, start, end, display) {
                    var api = this.api();
                    var p = api.column(3).data().reduce(function (a, b) {
                        return a + b;
                    }, 0)
                    $(api.column(3).footer()).html(p);

                    var t = api.column(2).data().reduce(function (c, d) {
                        return c + d;
                    }, 0)
                    $(api.column(2).footer()).html(t);
                    document.getElementById("tot").value = p - t;
                }
            });
        });
    </script>
}